pandas
polars
PyYAML
numpy
scipy
scikit-learn
matplotlib
seaborn
lifelines
jupyter
pyarrow
streamlit
plotly
openpyxl
pytest
#pip install streamlit plotly pandas
#pip install -r requirements.txt
#python -m pip install streamlit plotly pandas
#lệnh chạy: python -m streamlit run app/app.py
